# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv*/
env*/
ENV*/
venv*/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/   # Ignore Jupyter checkpoints
*.ipynb     

